* {
  padding: 0px;
  margin: 0px;
}

@import url('http://fonts.cdnfonts.com/css/akrobat');

/* header */
.header {
  height: 140px;
  padding-left: 20px;
  padding-right: 20px;
}

.header .navBar {
  float: right;
  border: 0px;
  margin-top: 30px;
}

.header .navBar img {
  width: 75px;
}

.header .navBar img:hover {
  cursor: pointer;
}

.navBar input[type=checkbox] {
  display: none;
}

.navMenu_content {
  right: 20px;
  display: block;
  opacity: 0;
  position: absolute;
  font-size: 25px;
  background-color: burlywood;
  text-align: left;
  transition: all 0.3s ease-out;
  pointer-events: none;
  border: 1px solid black;
}

.merk {
  float: none;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
}

.merk img {
  margin-top: 7px;
  width: 220px;
}

.navBar .dd_btn:checked ~ .navMenu_content {
  opacity: 100;
  pointer-events: all;
}

.navMenu_content .menu_btn_name {
  padding: 10px 12px;
  display: block;
  text-decoration: none;
  color: black;
}

.navMenu_content img {
  max-width: 16px;
}

.navMenu_content .menu_btn_name:hover {
  background-color: rgb(63, 48, 30);
  color: white;
  cursor: pointer;
}

.menu_list {
  right: 136px;
  bottom: 48px;
  display: block;
  opacity: 0;
  position: absolute;
  background-color: burlywood;
  text-align: left;
  transition: all 0.3s ease-out;
  pointer-events: none;
  border: 1px solid black;
}

.navBar .menu_btn:checked ~ .menu_list {
  opacity: 100;
  pointer-events: all;
}

.navMenu_content a {
  padding: 10px 12px;
  display: block;
  text-decoration: none;
  color: black;
}

.navMenu_content a:hover {
  background-color: rgb(63, 48, 30);
  color: white;
}

.navMenu_content .now {
  background-color: rgb(63, 48, 30);
  color: white;
}

/* banner */
.banner {
  background-color: rgb(63, 48, 30);
  width: 100%;
}

.banner img {
  vertical-align: middle;
  width: 4%;
  padding-bottom: 1%;
}

.banner h3 {
  color: white;
  padding-top: 1%;
  font-size: 1.8vw;
  text-align: center;
  font-family: 'Akrobat ExtraLight', sans-serif;
}

.banner h3 b {
  font-family: 'Akrobat Bold', sans-serif;
}

/* content */
.content {
  width: 100%;
}

.content h1 {
  font-family: 'Akrobat Bold', sans-serif;
}

.title {
  font-family: 'Akrobat Bold', sans-serif;
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 4vw;
}

.content h2 {
  font-family: 'Akrobat Light', sans-serif;
  margin-top: 1%;
  margin-left: 5%;
  font-size: 2.5vw;
}

.content p {
  font-family: 'Akrobat Light', sans-serif;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 1.5vw;
  text-align: justify;
}

.select_intro {
  background-color: rgb(63, 48, 30);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  color: white;
  padding: 0.5%;
  text-align: center;
}
.select_intro h2 {
  font-size: 2vw;
  margin: 0;
  margin: 0.5%;
}

.select_category {
  display: inline-block;
  width: 100%;
}

.coffeedessert_category {
  float: left;
  margin-left: 5%;
  width: 45%;
  text-align: center;
  cursor: pointer;
  font-size: 1.5vw;
  background-color: transparent;
  transition: 0.5s;
}

.coffeedessert_category:hover {
  background-color: rgb(184, 184, 184);
}

.coffeedessert_category img {
  width: 70%;
}

.teadessert_category {
  float: right;
  margin-right: 5%;
  width: 45%;
  text-align: center;
  cursor: pointer;
  font-size: 1.5vw;
  background-color: transparent;
  transition: 0.5s;
}

.teadessert_category:hover {
  background-color: rgb(184, 184, 184);
}

.teadessert_category img{
  width: 70%;
}

.coffeedessert_menu {
  display: inline-block;
  margin-top: 1.5%;
  width: 100%;
  text-align: center;
}

.coffeedessert_menu .cdcard1 {
  float: left;
  width: 23%;
  margin-left: 11.7%;
}

.coffeedessert_menu .cdcard1 img {
  width: 100%;
}

.coffeedessert_menu .cdcard2 {
  display: inline-block;
  width: 23%;
}

.coffeedessert_menu .cdcard2 img {
  width: 100%;
}

.coffeedessert_menu .cdcard3 {
  float: right;
  width: 23%;
  margin-right: 11.7%;
}

.coffeedessert_menu .cdcard3 img {
  width: 100%;
}

.coffeedessert_menu .cdcard4 {
  float: left;
  width: 23%;
  margin-left: 11.7%;
}

.coffeedessert_menu .cdcard4 img {
  width: 100%;
}

.coffeedessert_menu .cdcard5 {
  display: inline-block;
  width: 23%;
}

.coffeedessert_menu .cdcard5 img {
  width: 100%;
}

.coffeedessert_menu .cdcard6 {
  float: right;
  width: 23%;
  margin-right: 11.7%;
}

.coffeedessert_menu .cdcard6 img {
  width: 100%;
}
.coffeedessert_menu h1 {
  background-color: burlywood;
  width: 100%;
  font-size: 2vw;
  font-family: 'Akrobat Bold', sans-serif;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.coffeedessert_menu button {
  width: 50%;
  padding: 1%;
  margin-top: 2%;
  margin-bottom: 9%;
  border: none;
  cursor: pointer;
  border: 0.3vw solid burlywood;
  background-color: transparent;
  font-family: 'Akrobat Bold', sans-serif;
  font-size: 1.5vw;
  transition: 0.15s;
}

.coffeedessert_menu button:hover {
  border: 0.3vw solid rgb(63, 48, 30);
}

.coffeedessert_menu button:active {
  border: 0.3vw solid rgb(63, 48, 30);
  background-color: burlywood;
}

.teadessert_menu {
  display: inline-block;
  margin-top: 1.5%;
  width: 100%;
  text-align: center;
}

.teadessert_menu .tdcard1 {
  float: left;
  width: 23%;
  margin-left: 11.7%;
}

.teadessert_menu .tdcard1 img {
  width: 100%;
}

.teadessert_menu .tdcard2 {
  display: inline-block;
  width: 23%;
}

.teadessert_menu .tdcard2 img {
  width: 100%;
}
.teadessert_menu .tdcard3 {
  float: right;
  width: 23%;
  margin-right: 11.7%;
}

.teadessert_menu .tdcard3 img {
  width: 100%;
}

.teadessert_menu .tdcard4 {
  float: left;
  width: 23%;
  margin-left: 11.7%;
}

.teadessert_menu .tdcard4 img {
  width: 100%;
}

.teadessert_menu .tdcard5 {
  display: inline-block;
  width: 23%;
}

.teadessert_menu .tdcard5 img {
  width: 100%;
}

.teadessert_menu .tdcard6 {
  float: right;
  width: 23%;
  margin-right: 11.7%;
}

.teadessert_menu .tdcard6 img {
  width: 100%;
}
.teadessert_menu h1 {
  background-color: burlywood;
  width: 100%;
  font-size: 2vw;
  font-family: 'Akrobat Bold', sans-serif;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.teadessert_menu button {
  width: 50%;
  padding: 1%;
  margin-top: 2%;
  margin-bottom: 9%;
  border: none;
  cursor: pointer;
  border: 0.3vw solid burlywood;
  background-color: transparent;
  font-family: 'Akrobat Bold', sans-serif;
  font-size: 1.5vw;
  transition: 0.15s;
}

.teadessert_menu button:hover {
  border: 0.3vw solid rgb(63, 48, 30);
}

.teadessert_menu button:active {
  border: 0.3vw solid rgb(63, 48, 30);
  background-color: burlywood;
}

/* footer */
.footer {
  margin-top: 3%;
  height: 70px;
  background-color: rgb(63, 48, 30);
  padding: 30px;
}

.footer .find_us {
  color: white;
  float: left;
  font-family: 'Akrobat Bold', sans-serif;
}

.footer .find_us a {
  text-decoration: none;
}

.footer .find_us img {
  padding: 5px;
  width: 35px;
  background-color: transparent;
}

.footer .copyright {
  font-family: 'Akrobat ExtraLight', sans-serif;
  padding-top: 25px;
  color: white;
  float: right;
}

@media screen and (max-width: 800px) {
  .header {
    width: 100%;
    padding: 0px;
    height: auto;
    display: inline-block;
  }
  .merk {
    display: inline-block;
    position: static;
    transform: translate(0%, 0);
    left: 0%;
    width: 50%;
  }
  .merk img {
    width: 40%;
    margin-bottom: 2%;
  }
  .header .navBar {
    display: block;
    width: 50%;
    margin-top: 0px;
  }
  .header .navBar img {
    margin-left: 75%;
    margin-top: 4%;
    width: 18%;
  }
  .navMenu_content img {
    display: none;
  }
  /* banner */
  .banner img {
    width: 8%;
  }
  .banner h3 {
    font-size: 4vw; 
  }
  
  /* content */
  .title {
    font-size: 8vw;
    margin-right: 9.5%;
    margin-left: 9.5%;
  }
  
  .content h2 {
    font-size: 5vw;
    margin-right: 9.5%;
    margin-left: 9.5%;
  }
  
  .content p {
    font-size: 3vw;
    margin-right: 9.5%;
    margin-left: 9.5%;
    text-align: justify;
  }
  
  .select_intro h2 {
    font-size: 4.5vw;
  }

  .coffeedessert_category h1 {
    font-size: 4vw;
  }
  .teadessert_category h1 {
    font-size: 4vw;
  }
  .coffeedessert_category img {
    width: 80%;
  }
  .teadessert_category img{
    width: 80%;
  }
  
  .coffeedessert_menu .cdcard1 {
    float: left;
    width: 38%;
    margin: 0;
    margin-left: 9.5%;
  }
  
  .coffeedessert_menu .cdcard1 img {
    width: 100%;
  }
  
  .coffeedessert_menu .cdcard2 {
    float: right;
    width: 38%;
    margin: 0;
    margin-right: 9.5%;
  }
  
  .coffeedessert_menu .cdcard2 img {
    width: 100%;
  }
  
  .coffeedessert_menu .cdcard3 {
    float: left;
    width: 38%;
    margin: 0;
    margin-left: 9.5%;
  }
  
  .coffeedessert_menu .cdcard3 img {
    width: 100%;
  }
  
  .coffeedessert_menu .cdcard4 {
    float: right;
    width: 38%;
    margin: 0;
    margin-right: 9.5%;
  }
  
  .coffeedessert_menu .cdcard4 img {
    width: 100%;
  }
  
  .coffeedessert_menu .cdcard5 {
    float: left;
    width: 38%;
    margin: 0;
    margin-left: 9.5%;
  }
  
  .coffeedessert_menu .cdcard5 img {
    width: 100%;
  }
  
  .coffeedessert_menu .cdcard6 {
    float: right;
    width: 38%;
    margin: 0;
    margin-right: 9.5%;
  }
  
  .coffeedessert_menu .cdcard6 img {
    width: 100%;
  }
  .coffeedessert_menu h1 {
    font-size: 4vw;
  }
  .coffeedessert_menu button {
    font-size: 3vw;
    border: 0.6vw solid burlywood;
  }
  
  .coffeedessert_menu button:hover {
    border: 0.6vw solid rgb(63, 48, 30);
  }
  
  .coffeedessert_menu button:active {
    border: 0.6vw solid rgb(63, 48, 30);
  }
  .teadessert_menu .tdcard1 {
    width: 38%;
    margin: 0;
    margin-left: 9.5%;
  }
  
  .teadessert_menu .tdcard1 img {
    width: 100%;
  }
  
  .teadessert_menu .tdcard2 {
    float: right;
    width: 38%;
    margin: 0;
    margin-right: 9.5%;
  }
  
  .teadessert_menu .tdcard2 img {
    width: 100%;
  }
  .teadessert_menu .tdcard3 {
    float: left;
    width: 38%;
    margin: 0;
    margin-left: 9.5%;
  }
  
  .teadessert_menu .tdcard3 img {
    width: 100%;
  }
  
  .teadessert_menu .tdcard4 {
    float: right;
    width: 38%;
    margin: 0;
    margin-right: 9.5%;
  }
  
  .teadessert_menu .tdcard4 img {
    width: 100%;
  }
  
  .teadessert_menu .tdcard5 {
    float: left;
    width: 38%;
    margin: 0;
    margin-left: 9.5%;
  }
  
  .teadessert_menu .tdcard5 img {
    width: 100%;
  }
  
  .teadessert_menu .tdcard6 {
    float: right;
    width: 38%;
    margin: 0;
    margin-right: 9.5%;
  }
  
  .teadessert_menu .tdcard6 img {
    width: 100%;
  }
  .teadessert_menu h1 {
    font-size: 4vw;
  }
  .teadessert_menu button {
    font-size: 3vw;
    border: 0.6vw solid burlywood;
  }
  
  .teadessert_menu button:hover {
    border: 0.6vw solid rgb(63, 48, 30);
  }
  
  .teadessert_menu button:active {
    border: 0.6vw solid rgb(63, 48, 30);
  }

  /* footer */
  .footer {
    height: fit-content;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 5%;
  }
  .footer .find_us {
    margin-top: 10px;
    float: none;
    font-size: 15px;
  }
  .footer .find_us img {
    width: 30px;
  }
  .footer .copyright {
    float: none;
    font-size: 15px;
    padding: 0;
    margin-bottom: 10px;
  }
}