* {
  padding: 0px;
  margin: 0px;
}

@import url('http://fonts.cdnfonts.com/css/akrobat');

/* header */
.header {
  height: 140px;
  padding-left: 20px;
  padding-right: 20px;
}

.header .navBar {
  float: right;
  border: 0px;
  margin-top: 30px;
}

.header .navBar img {
  width: 75px;
}

.header .navBar img:hover {
  cursor: pointer;
}

.navBar input[type=checkbox] {
  display: none;
}

.navMenu_content {
  right: 20px;
  display: block;
  opacity: 0;
  position: absolute;
  font-size: 25px;
  background-color: burlywood;
  text-align: left;
  transition: all 0.3s ease-out;
  pointer-events: none;
  border: 1px solid black;
}

.merk {
  float: none;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
}

.merk img {
  margin-top: 7px;
  width: 220px;
}

.navBar .dd_btn:checked ~ .navMenu_content {
  opacity: 100;
  pointer-events: all;
}

.navMenu_content .menu_btn_name {
  padding: 10px 12px;
  display: block;
  text-decoration: none;
  color: black;
}

.navMenu_content img {
  max-width: 16px;
}

.navMenu_content .menu_btn_name:hover {
  background-color: rgb(63, 48, 30);
  color: white;
  cursor: pointer;
}

.menu_list {
  right: 136px;
  bottom: 48px;
  display: block;
  opacity: 0;
  position: absolute;
  background-color: burlywood;
  text-align: left;
  transition: all 0.3s ease-out;
  pointer-events: none;
  border: 1px solid black;
}

.navBar .menu_btn:checked ~ .menu_list {
  opacity: 100;
  pointer-events: all;
}

.navMenu_content a {
  padding: 10px 12px;
  display: block;
  text-decoration: none;
  color: black;
}

.navMenu_content a:hover {
  background-color: rgb(63, 48, 30);
  color: white;
}

.navMenu_content .now {
  background-color: rgb(63, 48, 30);
  color: white;
}

/* banner */
.banner {
  background-color: rgb(63, 48, 30);
  width: 100%;
}

.banner img {
  vertical-align: middle;
  width: 4%;
  padding-bottom: 1%;
}

.banner h3 {
  color: white;
  padding-top: 1%;
  font-size: 1.8vw;
  text-align: center;
  font-family: 'Akrobat ExtraLight', sans-serif;
}

.banner h3 b {
  font-family: 'Akrobat Bold', sans-serif;
}

/* content */
.content {
  font-family: 'Akrobat Regular', sans-serif;
  width: 100%;
}

.title {
  font-family: 'Akrobat Bold', sans-serif;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 4%;
  font-size: 5vw;
}

.contact_form {
  font-family: 'Akrobat Bold', sans-serif;
  font-size: 2vw;
  margin-left: 3%;
  margin-bottom: 2%;
  width: 50%;
  display: inline-block;
}

.contact_form input[type=text] {
  width: 50%;
  padding: 2%;
  margin: 2% 0;
  box-sizing: border-box;
  transition: 0.5s;
  border: 0.21vw solid lightgray;
  outline: none;
  font-family: 'Akrobat Regular', sans-serif;
  font-size: 1vw;
}

.contact_form input[type=text]:hover {
  border: 0.21vw solid black;
}

.contact_form input[type=text]:focus {
  border: 0.21vw solid black;
  width: 80%;
}

.contact_form textarea {
  width: 50%;
  padding: 2%;
  margin: 2% 0;
  box-sizing: border-box;
  height: 3.8vw;
  resize: none;
  transition: 0.5s;
  border: 0.21vw solid lightgray;
  outline: none;
  font-family: 'Akrobat Regular', sans-serif;
  font-size: 1vw;
}

.contact_form textarea:hover {
  border: 0.21vw solid black;
}

.contact_form textarea:focus {
  border: 0.21vw solid black;
  width: 80%;
  height: 10vw;
}

.nameErr {
  color: red;
  margin-top: 1%;
  margin-bottom: 1%;
}

.emailErr {
  color: red;
  margin-top: 1%;
  margin-bottom: 1%;
}

.messageErr {
  color: red;
  margin-top: 1%;
  margin-bottom: 3%;
}

.contact_form input[type=button] {
  width: 80%;
  padding: 1%;
  margin: 1% 0;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  font-family: 'Akrobat Bold', sans-serif;
  font-size: 2.5vw;
  background-color: rgb(255, 228, 193);
}

.contact_form input[type=button]:hover {
  background-color: rgb(63, 48, 30);
  color: white;
}

.contact_form input[type=button]:active {
  background-color: rgb(99, 37, 37);
}

.contact_intro {
  float: right;
  margin-right: 3%;
  margin-bottom: 2%;
  width: 40%;
  text-align: center;
}

.contact_intro img {
  width: 50%;
  height: 50%;
}

.contact_intro h1 {
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 3vw;
  background-color: burlywood;
  font-family: 'Akrobat Bold', sans-serif;
}

.contact_intro h3 {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 2vw;
  font-family: 'Akrobat Light', sans-serif;
}

/* footer */
.footer {
  height: 70px;
  background-color: rgb(63, 48, 30);
  padding: 30px;
}

.footer .find_us {
  color: white;
  float: left;
  font-family: 'Akrobat Bold', sans-serif;
}

.footer .find_us a {
  text-decoration: none;
}

.footer .find_us img {
  padding: 5px;
  width: 35px;
  background-color: transparent;
}

.footer .copyright {
  font-family: 'Akrobat ExtraLight', sans-serif;
  padding-top: 25px;
  color: white;
  float: right;
}

@media screen and (max-width: 800px) {
  .header {
    width: 100%;
    padding: 0px;
    height: auto;
    display: inline-block;
  }
  .merk {
    display: inline-block;
    position: static;
    transform: translate(0%, 0);
    left: 0%;
    width: 50%;
  }
  .merk img {
    width: 40%;
    margin-bottom: 2%;
  }
  .header .navBar {
    display: block;
    width: 50%;
    margin-top: 0px;
  }
  .header .navBar img {
    margin-left: 75%;
    margin-top: 4%;
    width: 18%;
  }
  .navMenu_content img {
    display: none;
  }
  /* banner */
  .banner img {
    width: 8%;
  }
  .banner h3 {
    font-size: 4vw; 
  }
  
  /* content */
  .content {
    text-align: center;
  }
  .title {
    font-size: 10vw;
  }
  .contact_intro {
    width: 80%;
    margin: 0%;
    margin-bottom: 5%;
    float: none;
    display: inline-block;
  }
  .contact_intro h1 {
    font-size: 6vw;
  }
  .contact_intro h3 {
    font-size: 4.5vw;
  }
  .contact_intro img {
    width: 70%;
    height: 70%;
  }
  .contact_form {
    width: 100%;
    margin: 0%;
    font-size: 5vw;
    margin-bottom: 5%;
  }
  .contact_form input[type=text] {
    width: 80%;
    border: 0.6vw solid lightgray;
    font-size: 3vw;
  }
  .contact_form input[type=text]:hover {
    border: 0.6vw solid black;
  }
  .contact_form input[type=text]:focus {
    border: 0.6vw solid black;
  }
  .contact_form textarea {
    width: 80%;
    border: 0.6vw solid lightgray;
    font-size: 3vw;
    height: 9vw;
  }
  .contact_form textarea:hover {
    border: 0.6vw solid black;
  }
  .contact_form textarea:focus {
    border: 0.6vw solid black;
    height: 20vw;
  }
  .contact_form input[type=button] {
    font-size: 5vw;
  }
  /* footer */
  .footer {
    height: fit-content;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 5%;
  }
  .footer .find_us {
    margin-top: 10px;
    float: none;
    font-size: 15px;
  }
  .footer .find_us img {
    width: 30px;
  }
  .footer .copyright {
    float: none;
    font-size: 15px;
    padding: 0;
    margin-bottom: 10px;
  }
}